thead
{
    margin: 15px;
    color: darkslateblue;
}

p 
{
    color: blue;
}

ol li {
    display: inline;
    padding-right: 25px;
    padding-top: 10px;
    margin-top: 10px;
    text-align: center;
}

nav {
    background-color: aquamarine;
    color: black;
    padding-top: 15px;
}

.btn {
    font: bold 11px Atari;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 6px 10px 6px 10px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.table {
    display: table;
    margin: 0 auto;
}